node_modules
.next
dist
.git
.gitignore
tests
coverage
.env
.env.*
*.md
LICENSE
vitest.config.ts
eslint.config.mjs
prettier.config.mjs
postcss.config.mjs
commitlint.config.mjs
lint-staged.config.mjs
pnpm-lock.yaml
pnpm-workspace.yaml
